<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="start" name="menu-outline"></ion-icon>

      </ion-button>
    </ion-buttons>
    <ion-title>Acerca</ion-title>
    <ion-icon slot="start" name="logo-octocat"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Acerca</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card>
    <ion-card-content>
      Durante la pandemia, las instituciones educativas enfrentan desafíos al tomar asistencia en clases presenciales. "RegistrApp" es una aplicación móvil que utiliza códigos QR para agilizar y precisar el registro de asistencia, promoviendo la asistencia presencial y simplificando los informes de asistencia para docentes y administradores.
      <hr>
      <ion-img src="assets\img\estudiantes-uno.jpg"></ion-img>
    </ion-card-content>
  </ion-card>
  

</ion-content>
